@charset "UTF-8";
#submit{
	padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#submit:hover {
  background-color: #0056b3;
}

#submit:active {
  background-color: #004080;
}
textarea[name=content]{
font-size: 20px;
background: #EBF5FF;
}
