<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 클래스에 별명설정 -->
	<typeAliases>
		<typeAlias type="market.bean.MarketDTO" alias="dto"/>
		<typeAlias type="member.bean.MemberDTO" alias="memberDTO"/>
		<typeAlias type="storeboard.bean.StoreBoardDTO" alias="storeboardDTO"/>
	</typeAliases>

		<!-- SQL mapper설정 -->
	<mappers>
		<mapper resource="mybatis/market-mapping.xml" />
		<mapper resource="mybatis/member-mapping.xml" />
		<mapper resource="mybatis/storeboard-mapping.xml" />
	</mappers>

</configuration>
