@charset "UTF-8";


html, body {margin: 0px; padding: 0px;}


#findPwdForm{
	position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
	width:320px;
	height:300px;
	text-align: center;
}
#findPwdForm #input-Id,#input-email,#auth-code{
	height: 40px;
	width: 320px;
	font-size:16px;
	margin-bottom: 15px;
}
#findPwdForm #next-button{
	background:red;
	color:white;
	border:none;
	height: 40px;
	width: 330px;
	font-size:16px;
}
#findPwdForm #next-button:hover{
cursor: pointer;
}



#hidden{
display: none; 
}
.id-button{
width:60px; 
background: white; 
border:1px solid gray; 
position: absolute;
right: 5px; top:15px;
font-size:7px;
}
.id-button:hover{
cursor: pointer;
}

.email-button{
width:80px; 
background: white; 
border:1px solid gray; 
position: absolute;
right: 5px; top:75px;
font-size:7px;
}
.email-button:hover{
cursor: pointer;
}
