@charset "UTF-8";

#container{

	box-sizing: border-box;
    width: 320px;
    margin: 0 auto;
    
}

.msg{
    display: block;
    margin: 9px 0 -2px;
    font-size: 12px;
    line-height: 14px;
    color: red;
}
label {
	font-size:15px;
	padding-bottom: 5px;
}
input{
	height: 35px;
	width: 310px;
}
.email-box #email{
width:205px;
}
h3{
	margin-bottom: 5px;
}
.birthday-box{
	width: 100%;
	padding: 0;
}
.birthday{
	width: 97px;	
}
select {
	height:40px;
	line-height: 15px;
}
