@charset "UTF-8";

#pwd-form {
	position: absolute;
	top: 420px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 320px;
	height: 300px;
	text-align: center;
}

#pwd-form label {
	display: inline-block;
	width: 320px; text-align : left;
	margin-bottom: 5px;
	text-align: left;
}

#pwd-form .pwd-box {
	height: 30px;
	width: 320px;
}

.msg {
	display: block;
	margin-top: 5px;
	margin-bottom: 15px; font-size : 12px;
	line-height: 14px;
	text-align: left;
	color: red;
	font-size: 12px;
}

.btn {
	font-weight: 900;
	display: inline-block;
	text-decoration: none;
	color: black;
	padding: 10px 30px;
	width:255px;

}
